
<h1 class="page-header">About iRTweeter</h1>

<p><a href="https://github.com/elkdanger/irtweeter" external>iRTweeter</a> is developed and maintained by Steve Hobbs (<a href="http://twitter.com/elkdanger" external>@elkdanger</a>)</p>

<h3>Software</h3>

<p>The following OSS components/licenses were used in the building of this software:</p>

<ul>
    <li><a href="http://jquery.com" external>jQuery</a></li>
    <li><a href="http://getbootstrap.com" external>Twitter Bootstrap</a></li>
    <li><a href="https://angularjs.org/" external>AngularJS</a></li>
</ul>